{% extends "core/base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href='{% static "wallpapers/css/desktopadd.css" %}'>
{% endblock css %}
{% block content %}
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<div class="capsule">
<div class="register">
    <h1 style="color: yellow;">Desktop</h1>
    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form> -->
    <form method="post" action="{% url 'add_desktop_images' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.img.id_for_label }}">Image:</label>
            {{ form.img }} 
          
        </div>


        <button type="submit" style="margin-top: 10px;">Add Iamge</button>
    </form>
</div>
</div>
{% endblock content %}